# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore empty __init__.py files
__init__.py

# Ignore other common Python/IDE files
*.log
*.sqlite3
.vscode/
.idea/
*.swp
.DS_Store

# FMG app settings
./fmg_settings.json

# FMG Generated Folder Maps
./Mapped Folders/*

# Other
./desktop.ini

# Installer
./installer.py